[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "5.0.1"
pytest-xdist = "1.29.0"
tox = "3.13.2"
pylint = "2.3.1"
twine = "1.13.0"
paramiko = "2.6.0"
"pydoc-makdown" = {git = "https://github.com/sverch/pydoc-markdown.git"}

[packages]
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
